{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}


<h1>Редактирование траектории
<a href="/track/<{{track.id}}>" role="button"
   class="btn btn-secondary">Вернуться к просмотру</a><br></h1>
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-auto align-self-center">{{ form.title.label }}</div>
            <div class="col align-self-center">{{ form.title(class="form-control") }}</div>
            <div class="col-md-auto align-self-center">{{ form.submit(type="submit",
                class="btn btn-info", value="Переименовать") }}</div>
        </div>
    </div>
    {% for error in form.title.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}
</form>
<br>
<div class="container">
    <h4 class="alert-heading"><a href="/create_section/<{{track.id}}>/<-1>" role="button"
                                 class="btn btn-info">Добавить раздел</a></h4>
    {% for item in sections%}
        <div class="row align-items-center">
            <div class="col">
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading"><strong>{{item.title}}</strong>
                        <a href="/edit_section/<{{item.id}}>" role="button"
                           class="btn btn-info btn-sm">Редактировать</a>
                        <a href="/del_section/<{{item.id}}>" role="button"
                           class="btn btn-info btn-sm">Удалить</a>
                        {% if not loop.first %}
                            <a href="/move_up_section/<{{item.id}}>" role="button"
                               class="btn btn-info btn-sm">Вверх</a>
                        {% endif %}
                        {% if not loop.last %}
                            <a href="/move_down_section/<{{item.id}}>" role="button"
                               class="btn btn-info btn-sm">Вниз</a>
                        {% endif %}
                    </h4>
                </div>
                <h4 class="alert-heading"><a href="/create_section/<{{track.id}}>/<{{item.id}}>" role="button"
                                             class="btn btn-info">Добавить раздел</a></h4>
            </div>
        </div>
    {% endfor %}

</div>


{% endblock %}