{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    {% if section.type == 1 %}
    <h1>Редактирование события/точки контроля
        <a href="/section/<{{section.id}}>" role="button" class="btn btn-secondary">Вернуться к просмотру</a>
        <a href="/edit_track/<{{section.track_id}}>" role="button" class="btn btn-secondary">Редактировать трек</a>
    </h1>
    {% elif section.type == 0 %}
    <h1>Редактирование раздела
        <a href="/section/<{{section.id}}>" role="button" class="btn btn-secondary">Вернуться к просмотру</a>
        <a href="/edit_track/<{{section.track_id}}>" role="button" class="btn btn-secondary">Редактировать трек</a>
    </h1>
    {% endif %}

    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-auto align-self-center">{{ form.title.label }}</div>
            <div class="col align-self-center">{{ form.title(class="form-control") }}</div>
            <div class="col-md-auto align-self-center">{{ form.submit(type="submit",
                class="btn btn-info", value="Переименовать") }}</div>
        </div>
    </div>
    {% for error in form.title.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}

</form>
<br>
{% if section.resources %}
    <div class="col">
        <h3>Ресурсы</h3> <br>
    {% for res in resources %}
        <div class="row align-items-center">
            <div class="col">
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading"><strong>{{res.title}}</strong>
                        <a href="/edit_resource/<{{res.id}}>" role="button"
                           class="btn btn-info btn-sm">Редактировать</a>
                        <a href="/del_resource/<{{res.id}}>" role="button"
                           class="btn btn-info btn-sm">Удалить</a>
                        {% if not loop.first %}
                        <a href="/move_up_resource/<{{res.id}}>" role="button"
                           class="btn btn-info btn-sm">Вверх</a>
                        {% endif %}
                        {% if not loop.last %}
                        <a href="/move_down_resource/<{{res.id}}>" role="button"
                           class="btn btn-info btn-sm">Вниз</a>
                        {% endif %}
                    </h4>
                    {{res.content}}<br>
                    Трудоемкость - {{ res.intensity }} {{ res.dim }}<br>
                    Длительность - {{ res.duration }} нед.<br>
                </div>

            </div>
        </div>
    {% endfor %}

    </div>
    {% else %}
        <h3>Ресурсы отсутствуют</h3>
    {% endif %}
    <h4 class="alert-heading"><a href="/create_resource/<{{section.id}}>" role="button"
                                 class="btn btn-info">Добавить ресурс</a></h4>


{% endblock %}