{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}


<h1>Создание траектории <br></h1>
    <h3>{{ form.title.label }}</h3>
    {{ form.title(class="form-control") }}<br>
    {% for error in form.title.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}

    <h3>{{ form.type.label }}</h3>
    {{ form.type(class="form-control") }}<br>
    {% for error in form.type.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}

    <h3>{{ form.duration.label }}</h3>
    {{ form.duration(class="form-control") }}<br>
    {% for error in form.duration.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}

    {{ form.submit(type="submit", class="btn btn-primary btn-lg", value="Создать") }}
</form>
{% endblock %}