{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <h1>Изменение прогресса по ресурсу <br><strong>{{resource.title}}</strong>
    <a href="/section/<{{resource.section.id}}>" role="button"
        class="btn btn-secondary">Вернуться к просмотру</a></h1>

    {{resource.content}}<br><br>

    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-auto align-self-center">{{ form.progress.label }}</div>
            <div class="col align-self-center">{{ form.progress(class="form-control") }}</div>
            <div class="col-md-auto align-self-center">{{ form.submit(type="submit",
                class="btn btn-info", value="Изменить") }}</div>
        </div>
    </div>
    {% for error in form.progress.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}

</form>

{% endblock %}